<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Portfolio</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<div class="jumbotron">
  <div class="container text-center">
    <h1>Cyber Security Toolbox</h1>      
    <p>A toolbox built for CTF and Cyber Security uses.</p>
  </div>
</div>

<div class="title">
  <h2>Variables to Consider</h2>
</div>
  
<section class="boxes">
  <div class="box">
    <h3>What is the target system?</h3>
  </div>
  <div class="box">
    <h3>What is the operating system?</h3>
  </div>
  <div class="box">
    <h3>What is the IP Address?</h3>
  </div>
  <div class="box">
    <h3>Are there server side vulnerabilites?</h3>
  </div>
  <div class="box">
    <h3>Are there client side vulnerailities?</h3>
  </div>
</section>

<div class="title">
  <h2>Common Terminology</h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Term</th>
      <th scope="col">Definition</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Attack</td>
      <td>An action taken against a system in an attempt to gain access and information.</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Back Door</td>
      <td>Hidden entry in software that bypassess security measures.</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Brute Force Attack</td>
      <td>Simple computationally intense attack to gain access to a system/website</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Encryption</td>
      <td>Transforming text into cipher text to keep the content a secrete.</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Exploit</td>
      <td>To take advantage of a bug or vulnerability to compromise security.</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Firewall</td>
      <td>Filter that prevents hackers from entering a system/software.</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Keystroke logging</td>
      <td>The process of tracking keys that a target presses.</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Phishing</td>
      <td>An email fraud method in an attempt to gather personal and financial information.</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Spear Phishing</td>
      <td>Targeted Phishing.</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Social Engineering</td>
      <td>The act of deceiving a target with the intent to aquire personal and financial information.</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>SQL Injection</td>
      <td>Code injection technique where SQL statemenets are entered into an entry field.</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>Virus</td>
      <td>Malicious program which is capable of copying itself and corrupting/destroying existing data.</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>Vulerability</td>
      <td>Weakness in which a hacker can comnpromise a system and its security.</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>Local Attack</td>
      <td>An attack on a system where the hacker had previous access to it.</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td>Remote Attack</td>
      <td>An attack on a system where the hacker did not have previous access to it.</td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td>Trojan Horse</td>
      <td>A malicious program designed to look like a legit program.</td>
    </tr>
    <tr>
      <th scope="row">17</th>
      <td>Zero Day Exploit</td>
      <td>An undocumented or never before seen exploit. </td>
    </tr>
    <tr>
      <th scope="row">18</th>
      <td>Audit</td>
      <td>A system security evaluation.</td>
    </tr>
    <tr>
      <th scope="row">19</th>
      <td>Decryption</td>
      <td>Transforming cipher text to text.</td>
    </tr>
    <tr>
      <th scope="row">20</th>
      <td>Data Driven Attack</td>
      <td>An attack that is encoded in non suspiscous looking data which is executed by users.</td>
    </tr>
    <tr>
      <th scope="row">21</th>
      <td>Penetration Testing</td>
      <td>Threat modeling, a method of testing that targets individual components of an application.</td>
    </tr>
    <tr>
      <th scope="row">21</th>
      <td>Side-channel Attack</td>
      <td>Attack based on information gained from the implementation of a computer system.</td>
    </tr>
  </tbody>
</table>